.vagrant
/images
dns.log

# For Gem project
**/.bundle/
**/coverage/
**/doc/
**/out/
**/pkg/
**/tmp/
**/vendor/
**/spec/reports/
*.bundle
*.so
*.o
*.a
mkmf.log

*.lock

# For Grunt project
**/node_modules
**/dist
**/.tmp
**/bower_components

# pyenv file for use of wercker-cli
.python-version
