@import url(http://fonts.googleapis.com/css?family=Raleway:500,200);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@media (min-width: 992px) {
  body {
    background: #008bbd;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 16px;
  }
  footer {
    padding: 20px;
  }
  a {
    color: #b0d4ed;
  }
  a:hover {
    color: #72b2df;
    text-decoration: underline;
  }
  .wrapper {
    height: 740px;
  }
  .water {
    background: url(../images/1a94f261.diagmonds-light.png);
    height: 600px;
  }
  .water-surface {
    background-image: -webkit-linear-gradient(top, rgba(0, 139, 189, 0.1) 0%, #008bbd 100%);
    background-image: -o-linear-gradient(top, rgba(0, 139, 189, 0.1) 0%, #008bbd 100%);
    background-image: linear-gradient(to bottom, rgba(0, 139, 189, 0.1) 0%, #008bbd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a008bbd', endColorstr='#ff008bbd', GradientType=0);
    height: 600px;
  }
  .container {
    width: 900px;
  }
  .title {
    font-size: 100px;
  }
  .sub-title {
    font-size: 20px;
    font-weight: 200;
  }
  .terminal {
    font-family: "Source Code Pro";
    height: 600px;
  }
  .terminal-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #888;
    color: #000;
    font-weight: 600;
    height: 30px;
    margin-top: 20px;
    padding: 0 8px;
  }
  .terminal-header .window-button {
    float: left !important;
    border-radius: 8px;
    float: left;
    height: 16px;
    margin: 7px 6px 0 0;
    width: 16px;
  }
  .terminal-header .close-button {
    background: #d82525;
  }
  .terminal-header .minimize-button {
    background: #f9ee64;
  }
  .terminal-header .maximize-button {
    background: #25d825;
  }
  .terminal-header p {
    float: left !important;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    width: 700px;
  }
  .terminal-window textarea {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;
    width: 100%;
    border-color: #000;
  }
}
